In [92]:
#1 다음 데이터는 외국인 Na, Ja, Ba, Ma Ra, Ka의 성적이다.

             #99,   90,   92,   82,   83,   85

#정렬을 이용하여 성적이 우수한 두 명의 이름과 성적을 출력하는 프로그램을 작성하시오.(2점)
import numpy as np
import pandas as pd

socre = {'Na':[99],'Ja':[90],'Ba':[92],'Ma':[82],'Ma Ra':[93],'Ka':[85]}

socre = pd.DataFrame(socre ,index=None)
socre

   Na  Ja  Ba  Ma  Ma Ra  Ka
0  99  90  92  82     93  85

실습문제는 한번 다 타이핑해보기
주로하는 예제 타이핑

In [26]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
#-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 

#[2-9] 다음은 타이타닉 데이터를 DT로 학습하고 테스트하는 프로그램을 작성하는 과정이다. 물음에 답하시오. 문제 당 하나의 셀(cell)에 답안을 적으시오.

#2.(데이터 로드) 이러닝캠퍼스에서 titanic_train.csv 파일을 읽어 DataFrame 자료형으로 변수 df에 저장하시오.(1점)
df = pd.read_csv("titanic_train.csv")

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [85]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
#-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 

#[2-9] 다음은 타이타닉 데이터를 DT로 학습하고 테스트하는 프로그램을 작성하는 과정이다. 물음에 답하시오. 문제 당 하나의 셀(cell)에 답안을 적으시오.

#2.(데이터 로드) 이러닝캠퍼스에서 titanic_train.csv 파일을 읽어 DataFrame 자료형으로 변수 df에 저장하시오.(1점)
df = pd.read_csv("titanic_train.csv")

In [86]:

#3.(데이터 분리) train_test_split 함수를 이용해 학습데이터와 테스트데이터를 나누시오. 단, test_size = 0.2, random_state = 1 로 설정하시오.(1점)
df_labels = df['Survived']
df.drop('Survived',axis=1,inplace=True)



x_train,x_test,y_train,y_test = train_test_split(df,df_labels, test_size = 0.2, random_state = 1)
x_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
301,302,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
309,310,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
516,517,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5000,F33,S
120,121,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
570,571,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
715,716,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.6500,F G73,S
767,768,3,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,Q
72,73,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.5000,NaN,S
235,236,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
37,38,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S

In [87]:


#4.(칼럼 삭제) 학습데이터에서 PassengerId, Name, Ticket, Cabin 칼럼을 없애시오.(1점)

x_train = x_train.drop(['PassengerId','Name','Ticket','Cabin'],axis =1)
print(x_train)

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
301       3    male   NaN      2      0  23.2500        Q
309       1  female  30.0      0      0  56.9292        C
516       2  female  34.0      0      0  10.5000        S
120       2    male  21.0      2      0  73.5000        S
570       2    male  62.0      0      0  10.5000        S
..      ...     ...   ...    ...    ...      ...      ...
715       3    male  19.0      0      0   7.6500        S
767       3  female  30.5      0      0   7.7500        Q
72        2    male  21.0      0      0  73.5000        S
235       3  female   NaN      0      0   7.5500        S
37        3    male  21.0      0      0   8.0500        S

[712 rows x 7 columns]

In [52]:
#5.(결측치 처리) 학습데이터에서 Age의 결측치는 학습데이터 Age값의 평균으로 대체하고, Embarked 칼럼의 결측치는 문자 ‘N’으로 대체하시오.(1점)
x_train['Age']=x_train['Age'].fillna(x_train['Age'].mean())
x_train['Embarked'] = x_train['Embarked'].fillna('N') 
x_train.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [94]:
from sklearn.preprocessing import LabelEncoder
#6.(문자열 처리) 학습데이터에서 Sex와 Embarked 변수에 대해 레이블 인코딩을 수행하고, 레이블 인코더를 le_Sex, le_Embarked 변수에 각각 저장하시오.(1점)


encoder = LabelEncoder()
le_sex = encoder.fit(x_train['Sex'])
le_sex = encoder.transform(x_train['Sex'])
le_Embarked = encoder.fit(x_train['Embarked'])
le_Embarked = encoder.transform(x_train['Embarked'])

In [90]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
#7.(학습) 다음 지시에 따라, GridSearchCV를 이용하여 DecisionTreeClassifier를 학습하고 결과를 출력하시오.(5점)

# - DecisionTreeClassifier 생성 시, random_state 값은 1로 설정하시오.

# - 하이퍼 파라미터는 두 개만 튜닝(tuning)한다. max_depth는 3, 4, 5 중에서, min_sample_split이 2, 3, 4 중에서 최적의 하이퍼 파라미터를 찾으시오.

# - cross validation의 fold 수는 5로 설정하시오.

# - 최적 하이퍼 파라미터와 CV 최고 정확도를 출력하시오

# - 최적의 하이퍼 파라미터에 대해 분류기를 (다시) 학습하여 best_dt라는 변수에 저장하시오.

dtree = DecisionTreeClassifier(random_state=1)
parameters = {'max_depth':[3,4,5],'min_sample_split':[2,3,4]}
grid_tree = GridSearchCV(dtree, param_grid=parameters, scoring='accuracy',cv=5)

grid_tree.fit(x_train,y_train)


print("최적 하이퍼 파라미터",grid_tree.best_params_)
print("CV 최고 정확도:",grid_tree.best_score_)

best_dt = grid_tree.best_estimator_

ValueError: Invalid parameter min_sample_split for estimator DecisionTreeClassifier(max_depth=3, random_state=1). Check the list of available parameters with `estimator.get_params().keys()`.

In [95]:

#8.(테스트 데이터 전처리) 테스트 데이터를 적절히 전처리 하시오.(5점)
x_test['Sex'] = le_sex
x_test['Embarked'] = le_Embarked


#9.(성능 측정) 테스트 데이터에 대한 best_dt 알고리즘 성능을 측정하여 출력(print)하시오.(1점)

accuracy = accuracy_score(y_test,best_dt)
print("테스트 데이터에 대한 성능:",accuracy)

ValueError: Length of values (712) does not match length of index (179)